# Explore, Visualize, and Predict using Pandas & Jupyter

### Learn to import, explore, and tweak your data

Matt Harrison (@\_\_mharrison\_\_)

The pandas library is very popular among data scientists, quants, Excel junkies, and Python developers because it allows you to perform data ingestion, exporting, transformation, and visualization with ease. But if you are only familiar with Python, pandas may present some challenges. Since pandas is inspired by Numpy, its syntax conventions can be confusing to Python developers.

If you have questions on Python syntax, check out https://github.com/mattharrison/Tiny-Python-3.6-Notebook

Much of this content is based on my Pandas book, [*Learning the Pandas Library*](https://www.amazon.com/Learning-Pandas-Library-Munging-Analysis/dp/153359824X/ref=sr_1_3?ie=UTF8&qid=1505448275&sr=8-3&keywords=python+pandas)

# Jupyter Intro

Jupyter notebook is an environment for combining interactive coding and text in a webbrowser. This allows us to easily share code as well as narrative around that code. An example that was popular in the scientific community was [the discovery of gravitational waves.](https://losc.ligo.org/s/events/GW150914/GW150914_tutorial.html)

The name Jupyter is a rebranding of an open source project previously known as iPython Notebook. The rebranding was to emphasize that although the backend is written in Python, it supports various *kernals* to run other languages, including Julia (the "Ju" portion), Python ("pyt"), and R ("er"). All popular *data science* programming languages.

The architecture of Jupyter includes a server running various kernals. Using a *notebook* we can interact with a kernal. Typically we use a webbrowser to do this, but there are other iterfaces, such as an emacs mode (ein).

## Using Jupyter

After we create a notebook, we are presented with a page with an empty cell. The cell will have a blue outline, ane the text:

    In [ ]: 
    
on the side. The blue outline indicates that we are in *command mode*. There are two modes in Jupyter, command mode and *edit mode*.

To enter edit mode simply hit the enter or return key. You will notice that the outline will change to green. In edit mode, with a Python kernel, we can type Python code. Type:

    print("hello world")
    
You will notice that unlike a normal Python REPL, this will note print anything after hitting return again. To *execute* the cell, you need to hold down control and hit enter (``C-Enter``). This will run the code, print the results of the cell and put you back into edit mode.     

## Edit Mode

To enter *Edit Mode* you need to click on a cell or hit enter when it is surrounded by the blue outline. You will see that it goes green if you are in edit mode. In edit mode you have basic editing functionality. A few keys to know:

* Ctr-Enter - Run cell (execute Python code, render Markdown)
* ESC - Go back to command mode
* TAB - Tab completion
* Shift-TAB - Bring up tooltip (ESC to dismiss)


## Command Mode

*Command Mode* gives to the ability to create, copy, paste, move, and execute cells. A few keys to know:

* h - Bring up help (ESC to dismiss)
* b - Create cell below
* a - Create cell above
* c - Copy cell
* v - Paste cell below
* Enter - Go into Edit Mode
* m - Change cell type to Markdown
* y - Change cell type to code
* ii - Interrupt kernel
* oo - Restart kernel

## Cell Types

* Code
* Markdown


## Markdown

Can make *italicized*, **bold**, and ``monospaced text``:

    Can make *italicized*, **bold**, and ``monospaced text``


Headers:

    # H1
    ## H2
    ### H3
 
Lists:

    * First item
    * Second item
    
Code:

    If you indent by four spaces you have code:
    
        def add(x, y):
            return x + yt
    
## Cell Magic

type and run ``%lsmagic`` in a cell.

Common magics include:

* ``%%time`` - time how long it takes to run cell
* ``%%!`` - run shell command
* ``%matplotlib inline`` - show matplotlib plots


## IPython Help
Add ? after function, method, etc for documentation (can also run shift-tab 4 times in notebook). Add ?? after function, method, etc to see the source.

# Setup

In [ ]:
import pandas as pd
import matplotlib
import numpy as np

pd.__version__, matplotlib.__version__, np.__version__

In [ ]:
# test for unicode
'\N{SNAKE}'

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
sys.version

# Pandas Intro

## Installation

Presumably, you have pandas installed if you ran the cell after **Setup** successfully. The Anaconda distribution is a common way to get the Python scientific stack up and running quickly on most platforms. Running ``pip install pandas`` works as well.

In [ ]:
# pandas has two main datatypes: a Series and a DataFrame
# A Series is like a column from a spreadsheet

s = pd.Series([0, 4, 6, 7])

In [ ]:
# A DataFrame is like a spreadsheet

df = pd.DataFrame({'name': ['Fred', 'Johh', 'Joe', 'Abe'], 'age': s})

In [ ]:
# We can do tab completion on objects that exist (shift tab brings up tooltip)
# ?? brings up source
df.

# Datasets

For this class we will look at some time series data. The class will look at Central Park weather. The assignments will deal with El Nino data.

## Central Park


https://pastebin.com/vaB6QQGp

## El Nino

https://archive.ics.uci.edu/ml/datasets/El+Nino

In [ ]:
%matplotlib inline
# I typically start with imports like this including the matplotlib magic 
# for most notebooks
import pandas as pd
import numpy as np

# Getting Data
There are various ``pd.read_`` functions for ingesting data

In [ ]:
# not necessary if you started jupyter from the project directory
%ls data/
# should have central-park-raw.csv

In [ ]:
# if you execute this cell it will bring up a tooltip due to
# the ? at the end. You can also hit shift-tab 4 times
# if your cursor is after the v
# Hit escape to dismiss the tooltip
pd.read_csv?

In [ ]:
# let's load the data and treat column 0 as a date
nyc = pd.read_csv('data/central-park-raw.csv', parse_dates=[0])
# Jupyter will print the result of the last command
nyc

In [ ]:
# dataframes can get big, so only show the first bit
nyc.head()

## Getting Data Assignment

For your assignment, you will look at El Nino data.

The [website](https://archive.ics.uci.edu/ml/datasets/El+Nino)  states:

    The data is stored in an ASCII files with one observation per line. Spaces separate fields and periods (.) denote missing values.


Load the ``data/tao-all2.dat.gz`` file into a data frame using ``pd.read_csv``.
Use the ``names`` variable for the initial column names (taken from website).
Replace empty values (``.``) with ``NaN``. Pull the year, month, and date columns into a single variable using the ``parse_dates`` parameter (see the ``pd.read_csv`` docs for info on this).

# Inspecting Data

In [ ]:
# Interesting aside, the columns are actually an Index 
nyc.columns

In [ ]:
# If is good to know if columns have a [correct] type, (object could mean string)
nyc.dtypes

In [ ]:
# we can also see how much space is taken up
nyc.info()

In [ ]:
# just view the first 10 rows
nyc.head(10)

In [ ]:
# Transposing the data often makes it easier to view
nyc.T  # nyc.transpose()

In [ ]:
# Here is the size (num rows, num cols)
nyc.shape

In [ ]:
# We can inspect the index
nyc.index

In [ ]:
# We can use the .set_index method to use another column as the index
nyc.set_index('EST')

In [ ]:
# undo .set_index with .reset_index
nyc.set_index('EST').reset_index()

## Inspecting Data Assignment

Now it is your turn to inspect the El Nino data.
 
* What are the columns of the dataframe?
* What are the types of the columns?
* How would you print the first 10 rows of data?
* How would you transpose the data?
* What is the shape of the data?
* How would we inspect the index?

# Tweak Data

  *In Data Science, 80% of time spent prepare data, 20% of time spent complain about need for  prepare data.*
  
  -@bigdataborat
  
Let's see how we spend 80% of our time.

In [ ]:
# I like to start by inspecting the columns. Pandas will try to 
# infer types from CSV files, but doesn't always do the right thing.
# Sometimes the data is just messy.
nyc.dtypes

In [ ]:
# See those spaces in front of some of the Columns?
# Remove spaces from front/end of column names
nyc.columns = [x.strip() for x in nyc.columns]

In [ ]:
# Use underscores to enable attribute access/jupyter completion
nyc.columns = [x.replace(' ', '_') for x in nyc.columns]

In [ ]:
# For non-numeric columns, .value_counts gives us 
# counts of the data. One would think that 
# PrecipitationIn should be numeric....
nyc.PrecipitationIn.value_counts()

In [ ]:
# There is a "T" in there. Trace? 
# Convert "T" to 0.001
nyc.PrecipitationIn.replace("T", '0.001')
# Convert to numeric data
nyc.PrecipitationIn = pd.to_numeric(nyc.PrecipitationIn.replace("T", '0.001'))

In [ ]:
nyc.Events.value_counts()

In [ ]:
# can perform string operations on string columns off of the "str" attribute
nyc.Events.str.upper()

In [ ]:
# Looks like the type of this column is mixed
type(nyc.Events[0])

In [ ]:
set(nyc.Events.apply(type))

In [ ]:
# Replace nan with ''
nyc['Events'] = nyc.Events.fillna('')

In [ ]:
set(nyc.Events.apply(type))

In [ ]:
# convert inches to cm
# If we multiply a column (Series), we are *broadcasting*
# the operation to every cell
nyc.PrecipitationIn * 2.54

In [ ]:
# can also apply an arbitrary function, though this will be slow as it is not vectorized
#   map - works with a dictionary (mapping value to new value),  series (like dict), function
#   apply - only works with function as a parameter. Allows extra parameters
#   aggregate (agg) - works with function or list of functions. If reducing function, returns a scalar.
#   transform - wraps agg and won't do a reduction
def to_cm(val):
    return val * 2.54

nyc.PrecipitationIn.transform(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn.map(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn.transform(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn*2.54

In [ ]:
# can add and drop columns (axis=1 means along the columns axis)
nyc['State'] = 'NYC'
nyc = nyc.drop(['State'], axis=1)
nyc

## Tweak Data Assignment
* Replace the periods and spaces in the column names with underscores
* The temperatures are stored as Celsius. Create a new column, ``air_temp_F``, using Fahrenheit
  (Tf = Tc*9/5 + 32)
* The wind speed is in meters per second. Create new columns,  adding ``_mph``, that uses miles per hour ( 1 MPS = 2.237 MPH )
* Convert the ``date`` column to a date type.
* Drop the obs column

# Basic Stats

A nice feature of pandas is that you can quickly inspect data and get summary statistics.

In [ ]:
# The describe method gives us basic stats. The result is a Data Frame
nyc.describe()

In [ ]:
# Remember transpose
nyc.describe().T

In [ ]:
# to view non-numeric data pass include='all'
nyc.describe(include='all').T

In [ ]:
# Various aggregation methods (max, mean, median, min, mad, skew, kurtosis, autocorr,
#   nunique, sem, std, var)
# and properties (hasnans, is_monotonic, is_unique)
nyc.Max_Humidity.max()

In [ ]:
nyc.Max_Humidity.quantile(.2)

In [ ]:
nyc.Max_Humidity.quantile([.2,.3])

In [ ]:
nyc.Max_Humidity.min()

In [ ]:
nyc.Mean_Humidity.corr(nyc.Mean_TemperatureF)

## Basic Stats Assignment

* *Describe* the data
* Choose a column
  * Print out the max, min, and mean
* Correlate (``corr``) the temperature column with the date column

## Basic Stats Extra
* use the ``scatter_matrix`` function in ``pandas.plotting`` to create a correlation matrix (note this might take tens of seconds to run)

In [ ]:
pd.plotting.scatter_matrix(nino)

# Plotting

Pandas has built-in integration with Matplotlib. Other libraries such as Seaborn also support plotting DataFrames and Series. This is not an in depth intro to Matplotlib, but their website and gallery are great for finding more information

In [ ]:
# histograms are a quick way to visualize the distribution
nyc.Mean_Humidity.hist()

In [ ]:
# add in figsize=(width,height) to boost size
nyc.Mean_Humidity.hist(figsize=(14, 10))

In [ ]:
# If we use the .plot method we can add title and other attributes
nyc.Mean_Humidity.plot(kind='hist', title='Avg Humidity', figsize=(14, 10))

In [ ]:
nyc.plot(x='EST', y='Mean_Humidity')

In [ ]:
nyc.plot(x='EST', y='Mean_Humidity', figsize=(12, 8) )

In [ ]:
# Can resample columns, since our index is a date we can use *Offset Aliases*
# see http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
nyc.set_index('EST').Mean_Humidity.resample('M').mean().plot(figsize=(10, 6))

In [ ]:
# Can resample columns, since our index is a date we can use *Offset Aliases*
# see http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases
nyc.set_index('EST').Mean_Humidity.resample('2W').mean().plot(figsize=(10, 6))

In [ ]:
# Plot all the things (may be useful or just art)
nyc.set_index('EST').plot(figsize=(12,8))

In [ ]:
nyc.plot(x='Max_TemperatureF', y='Max_Humidity', kind='scatter', alpha=.5, 
        figsize=(10, 8))

In [ ]:
nyc.Max_TemperatureF.corr(nyc.Max_Humidity)

## Plotting Assignment
* Plot a histogram of air temp
* Plot a scatter plot of latitude and longitude

# Filtering

In [ ]:
# When we apply a conditional operator to a series we get back a series of True/False values
# We call this a "mask", which we can use to filter (similar to Photoshop)
# all EST in 2000's
m2000 = nyc.EST.dt.year >= 2000

# below 2010
lt2010 = nyc.EST.dt.year < 2010

In [ ]:
# The "and" operation looks at whether the operands are truthy or falsey
# This is a case where normal Python syntax doesn't work
nyc[m2000 and lt2010]

In [ ]:
# & does bitwise comparisons - which is what we want
nyc[m2000 & lt2010]

In [ ]:
# beware if you embed the operations, the bitwise operator binds more tightly to the integers
nyc[nyc.EST.dt.year >= 2000 & nyc.EST.dt.year < 2010]

In [ ]:
# beware if you embed the operations, the bitwise operator binds more tightly to the integers
nyc[(nyc.EST.dt.year >= 2000) & (nyc.EST.dt.year < 2010)]

In [ ]:
m_dec = nyc.EST.dt.month == 12
nyc[m_dec]

In [ ]:
# Can use loc to filter out based on index value, also takes a boolean index
# In fact, you should use .loc instead as a matter of habit (you won't see warnings)
nyc.loc[m_dec]

In [ ]:
# Can use loc to filter out based on index value, also takes a boolean index
# 2nd option in index op is column names (: to include everything)
nyc.loc[m_dec, [x for x in nyc.columns if 'Max' in x]]

In [ ]:
# loc note:
# can use set_index and sort_index to do quick lookups (if you sort you get quick lookups)
nyc.set_index('Events').sort_index().head()

In [ ]:
nyc.set_index('Events').sort_index().loc['Fog']

In [ ]:
# Can use iloc to filter out based on index location (or position)
# 2nd option in index op is column indices
nyc.iloc[5:10, [2, 5, -2]]

In [ ]:
# Can use iloc to filter out based on index location
# 2nd option in index op is column indices
nyc.iloc[:, [2, 5, -2]]

In [ ]:
nyc.EST.describe()

## Filtering Assignment
* Create a mask, ``m80``, that all years >= 80 and < 90
* Create a mask, ``m90``, that all years >= 90 and < 100
* Create a mask, ``lon120``, that has all longitudes > 120
* Create a mask, ``lat0``, that has latitudes > -2 and < 2
* Create a dataframe, ``df80``, that has only those values in ``m80`` and ``lon120`` and ``lat0``
* Create a dataframe, ``df90``, that has only those values in ``m90`` and ``lon120`` and ``lat0``

## Filtering Bonus Assignment
* Create a mask, ``m80_2``, that uses a function to filter years >= 80 and < 90
* Make sure that ``m80`` is created using operations
* Use the ``%time`` *cell magic* to determine which is faster to calculate, ``m80`` or ``m80_2``

# Dealing with NaN

In [ ]:
# find rows that have null data
# fish create a mask
nyc.isnull().any(axis=1)

In [ ]:
nyc[nyc.isnull().any(axis=1)]

In [ ]:
# Find columns with null values
nyc.isnull()

In [ ]:
# Find columns with null values
nyc.isnull().any()

In [ ]:
missing_df = nyc.isnull() 
nyc[missing_df.Max_TemperatureF]

In [ ]:
nyc.Max_TemperatureF.fillna(nyc.Max_TemperatureF.mean()).iloc[2219:2222]

In [ ]:
# The .interpolate method will do linear interpolation by default
nyc.Max_TemperatureF.interpolate().iloc[2219:2222]

In [ ]:
#dropping rows with missing data
nyc.dropna()

## Dealing with NaN Assignment
* Find the rows that have null data
* Find the columns that have null data
* It looks like the ``zon_winds`` has some missing values, use summary stats or plotting to determine how to fill in those values

# Grouping

Pandas allows us to perform aggregates calculations over grouped portions of ``Series`` or ``DataFrames``. The ``.groupby`` method is the low level workhorse that enables this.

In [ ]:
# We can group by a column, but if it has unique values it isn't useful
nyc.groupby('EST').mean()['CloudCover']

In [ ]:
# Let's get the average cloud cover each month
nyc.groupby(nyc.EST.dt.month).mean()['CloudCover']

In [ ]:
# The previous aggregated over every month, 
# what if we want to group by year and month?
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).mean()['CloudCover']

In [ ]:
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).mean(
)['CloudCover'].plot(figsize=(14,10))

In [ ]:
# With the .agg method we can apply many functions
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).agg(['mean', 'max', 'count'])

In [ ]:
# Then plot
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).agg(
    ['mean', 'max', 'count'])['Mean_TemperatureF'].plot()

In [ ]:
# Or just look at a table for a column
nyc.groupby([nyc.EST.dt.year, nyc.EST.dt.month]).agg(
    ['mean', 'max', 'count'])['Max_TemperatureF']

## Grouping Assignment
* Find the mean temperature for each year
* Find the count of entries for each year
* Find the max temperature for each year

# Pivoting

In [ ]:
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF'])

In [ ]:
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).plot(figsize=(14,10))

In [ ]:
# We can "unstack" to pull a left index into a column (0 is the left most index)
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).unstack(0)

In [ ]:
# We can "unstack" to pull a left index into a column (1 is the 2nd index)
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max, np.count_nonzero],
               values=['Max_Humidity', 'Max_Dew_PointF']).unstack(1)

In [ ]:
# Just use one value and one aggregation
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(1)

In [ ]:
# Just use one value and one aggregation by year
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(1).plot(figsize=(14,10))

In [ ]:
# Just use one value and one aggregation by month
nyc.pivot_table(index=[nyc.EST.dt.year, nyc.EST.dt.month], aggfunc=[np.max],
               values=['Mean_TemperatureF']).unstack(0).plot(figsize=(14,10))

## Pivoting Assignment
* Pivot the nino data using the ``.pivot_table`` method. Group by year and month, the ``air_temp`` column. Reduce using the ``max``, ``min``, and ``np.mean`` functions. (You will either need to create a month column or use ``year_month_day.dt.month``)
* Plot a line plot of the previous pivot table

## Pivoting Bonus Assignment
* Using ``.groupby`` we can sometimes perform the same operation as pivot tables. Pivot the nino data using the ``.groupby`` method. Group by year and month, the ``air_temp_`` column. Reduce using the ``max``, ``min``, and ``np.mean`` functions using ``.groupby``. (Hint: Use the ``.agg`` method on the result of the group by)
* Use ``.unstack`` to see the mean ``air_temp_`` by year

# Machine Learning

Pandas allows gives us easy integration with the sklearn library. Let's see if we can 
predict humidity (``y``) from the other columns (``X``).

We will train a Random Forest with a sample of our data, then test it with another sample to see how it performs.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
nyc.columns

In [ ]:
# Shift Humidity down to predict next day
pd.concat([nyc.Mean_Humidity, nyc.Mean_Humidity.shift(1)], axis=1)

In [ ]:
# Regression - Try to predict Mean_Humidity (y) from non humidity columns (X)
# Get training set (X_train)
# Shift Humidity down to predict next day
X = nyc[[x for x in nyc.columns if 'Humid' not in x]]
y = nyc.Mean_Humidity.shift(1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a model 
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

In [ ]:
# Need to make "Dummy" variables from Events column
nyc_dummy = pd.get_dummies(nyc, columns=['Events'])
nyc_dummy.head()

In [ ]:
# Regression - Try to predict Mean_Humidity (y) from non humidity columns (X)
# Get training set (X_train)
X = nyc_dummy[[x for x in nyc_dummy.columns if 'Humid' not in x]]
y = nyc_dummy.Mean_Humidity.shift(1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
X.T

In [ ]:
# Create a model (whoops data needs to be floats)
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

In [ ]:
# Need to remove timestamp
# Regression - Try to predict Mean_Humidity (y) from non humidity columns (X)
# Get training set (X_train)
def valid(col):
    return 'Humid' not in col and 'EST' not in col
X = nyc_dummy[[x for x in nyc_dummy.columns if valid(x)]]
y = nyc_dummy.Mean_Humidity.shift(1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a model 
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

In [ ]:
# Need to remove NA
# Regression - Try to predict Mean_Humidity (y) from non humidity columns (X)
# Get training set (X_train)
def valid(col):
    return 'Humid' not in col and 'EST' not in col
nyc_dummy = nyc_dummy.dropna()
X = nyc_dummy[[x for x in nyc_dummy.columns if valid(x)]].iloc[1:]
y = nyc_dummy.Mean_Humidity.shift(1).dropna()
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a model 
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

In [ ]:
# Get R2 measure (indicator of accuracy 1 is perfect 0 is horrible)
rf_model.score(X_test, y_test)

In [ ]:
type(y_test)

In [ ]:
pd.concat([pd.Series(rf_model.predict(X_test)), y_test.reset_index(
drop=True)], axis=1)

In [ ]:
sorted(zip(X.columns, rf_model.feature_importances_),
        key=lambda x: x[1], reverse=True)

## Machine Learning Assignment
* Using the nino dataset, see if you can predict what the temperature (``air_temp_F``) will be for the next day

# More Stacking

In [ ]:
# We briefly talked about stacking in the pivot section, here we will
# dive in a little more.
# Vehicle data - https://www.fueleconomy.gov/feg/download.shtml
# Datasets for All Model Years (1984â€“2018)
auto = pd.read_csv('https://www.fueleconomy.gov/feg/epadata/vehicles.csv.zip')

In [ ]:
auto.head()

In [ ]:
auto.head().T

In [ ]:
auto.columns

In [ ]:
auto.dtypes

In [ ]:
# guzzler- if G or T, this vehicle is subject to the gas guzzler tax
auto.guzzler.value_counts()

In [ ]:
auto.groupby('make').size()

In [ ]:
auto.groupby(['year', 'make']).size()

In [ ]:
auto.groupby(['year', 'make']).size().unstack(1)

In [ ]:
# .stack undoes .unstack
auto.groupby(['year', 'make']).size().unstack(1).stack()

In [ ]:
# By default .unstack does innermost level (in this case 1)
auto.groupby(['year', 'make']).size().unstack(0)

In [ ]:
# If index has name we can use that
auto.groupby(['year', 'make']).size().unstack('make')

In [ ]:
# If index has name we can use that
auto.groupby(['year', 'make']).size().unstack('year')

In [ ]:
# get Ford through Lexus
auto.groupby(['year', 'make']).size().unstack().loc[:,'Ford':'Lexus'].\
plot(figsize=(14,10))

In [ ]:
# Wrap with parens to allow per line "flow" style
(
auto.groupby(['year', 'make'])
    .size()
    .unstack('make')
    .loc[:,'Ford':'Lexus']
    .plot(figsize=(14,10)) 
)

In [ ]:
# Just look at Ford, Lexus, & Toyota
auto.groupby(['year', 'make']).size().unstack('make').loc[:,['Ford', 'Lexus', 'Toyota']].\
plot(kind='bar', figsize=(14,10))

In [ ]:
# get the average gas mileage per year
auto.groupby(['year', 'make'])['city08'].mean().unstack('make').\
loc[:,['Ford', 'BMW', 'Toyota', 'Honda']].\
plot(figsize=(14,10))

In [ ]:
# Get the 70% quantile for each mfr
auto.groupby(['year', 'make'])['city08'].quantile(.7).unstack('make').\
loc[:,['Ford', 'BMW', 'Toyota', 'Honda']].\
plot(subplots=True, sort_columns=True, figsize=(14,10))

In [ ]:
# Add the drive
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .unstack('drive').unstack('make')
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          ["Rear-Wheel Drive"])]
    .unstack('drive').unstack('year')
)

In [ ]:
# Can unstack multiple times
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          ["Rear-Wheel Drive"])]  # if we don't make a list here the index won't have drive
    .unstack('drive').unstack('year')
)

In [ ]:
# Simpler may be better
(
auto.groupby(['year', 'make', 'drive'])['city08'].mean()
    .loc[(slice(None), # all years
          "Ford",    # Ford rows
          "Rear-Wheel Drive")]
    .plot(figsize=(14,10))
)

## Stacking Assignment

* For each Escape (model) in Ford (make) show the by year avg mpg (city08) in tabular form.
* Visualize the result

## Extra Groupby

In [ ]:
# Find best mpg for each year/make
auto.loc[auto.groupby(['year', 'make']).city08.idxmax()][['year', 'make', 'model', 'city08']]

In [ ]:
# only show ford
res = auto.loc[auto.groupby(['year', 'make']).city08.idxmax()][['year', 'make', 'model', 'city08']]
res[res.make.isin(['Ford'])]